body {
  padding: 5%;
  background-color: #F5F5F5;
}

.container{
  max-width: 600px;
}
.btn{
  background: #43d9be;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus{
  outline: none !important;
}
.text-only {
  margin-left: 45px;
  padding: 7px;
}
.time {
  font-size: 10px;
  color: #8e8686;
  margin-bottom:10px;
  margin-left: 85px;
}
.messages-chat .text {
  margin: 0 35px;
  background-color: #eaeaea;
  padding: 15px;
  border-radius: 12px;
}

